@model EntityLayer.concrete.Customer
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<br />
<h2 style="text-align:center;">
    Customer Information Update Page
</h2>
@using (Html.BeginForm("EditCustomer", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <a style="display:none;">
            @Html.Label("CustomerId")
            @Html.TextBoxFor(x => x.CustomerId, new { @class = "form-control" })
            <br />
        </a>
        @Html.Label("Name")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <br />

        @Html.Label("Email")
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email)
        <br />
        <a style="display:none;">
            @Html.Label("Created")
            @Html.TextBoxFor(x => x.CreatedAt, new { @class = "form-control" })
            <br />
            @Html.Label("addressıd")
            @Html.TextBoxFor(x => x.AddressId, new { @class = "form-control" })
            <br />
        </a>
        <button class="btn btn-success">Update</button>

    </div>

}
