@model EntityLayer.concrete.Product
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<br />
<h2 style="text-align:center;">
    Web Designer Information Update Page
</h2>
@using (Html.BeginForm("EditProduct", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <a style="display:none;">
            @Html.Label("Id")
            @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
        </a>
        <br />
        @Html.Label("ImageURL")
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ImageUrl)
        <br />
        @Html.Label("Name")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        <button class="btn btn-success">Update</button>

    </div>

}
